.Person {
    width: '60%';
    margin: 16px auto;
    border: 1px solid #ddd;
    padding: 16px;
    background: #efefef;
    box-shadow: 1px 2px 16px #ddd;
    text-align: center;
    
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}